[Desktop Entry]
Name=1Password
Comment=Password Manager
Exec=/usr/local/bin/1password --no-sandbox %U
Icon=/opt/1password/icon.png
Terminal=false
Type=Application
StartupNotify=true
StartupWMClass=1Password
Categories=Utility;Security;
MimeType=x-scheme-handler/onepassword;
