[Desktop Entry]
Name=Ferdium
Comment=Ferdium messenger
Exec=/usr/local/bin/ferdium %U
Icon=/opt/ferdium/icon.png
Terminal=false
Type=Application
Categories=Network;Application;
StartupNotify=true
StartupWMClass=Ferdium
