[Desktop Entry]
Name=LocalSend
Comment=Share files to nearby devices
Exec=/usr/local/bin/localsend %U
Icon=/opt/localsend/icon.png
Terminal=false
Type=Application
Categories=Network;FileTransfer;
StartupNotify=true
StartupWMClass=LocalSend
